{% extends "layout.html" %}
{% block content %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

  	<!-- Adyen CSS from TEST environment (change to https://checkoutshopper-live.cdn... for production)-->
  	<link rel="stylesheet"
        href="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.css"
        integrity="sha384-UAD/QSv1wQyfA60svLYxJ0OJAPl9TpkksO+HEOUX8YJcD+MYzNmn+q4XL7YBeHcr"
        crossorigin="anonymous">

  	<!-- Adyen JS from TEST environment (change to https://checkoutshopper-live.cdn... for production)-->
 	 <script src="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.js"
          integrity="sha384-Oa2agnE48SFtDpzmEK8mbhbmEA1X4WH6afLBbypUhFU8oDhJWAIGvLQTBrqgls4A"
          crossorigin="anonymous"></script>

	<div id="clientKey" class="hidden">{{ client_key }}</div>

	<div id="payment-page">
		<div class="container">
			<div class="payment-container">

				<div id="component-container" class="payment">
					<!-- Component will be rendered here -->
				</div>

			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/klarna.js') }}"></script>
{% endblock %}