.status-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    margin: 100px 0 126px;
    text-align: center;
}

.status .status-image {
    display: block;
    height: 100px;
    margin: 16px auto 0;
}

.status .status-image-thank-you {
    height: 66px;
}

.status .status-message {
    margin: 8px 0 24px;
}

.status .button {
    max-width: 236px;
}

@media (min-width: 768px) {
    .status .button {
        max-width: 200px;
    }
}

.button {
    background: #00112c;
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    height: 48px;
    margin: 0;
    padding: 15px;
    text-align: center;
    transition: background .3s ease-out, box-shadow .3s ease-out;
    width: 100%;
}

.button:hover {
    background: #1c3045;
    box-shadow: 0 3px 4px rgba(0, 15, 45, 0.2);
}

.button:active {
    background: #3a4a5c;
}

.button:disabled {
    background: #e6e9eb;
    box-shadow: none;
    cursor: not-allowed;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
