{% extends "layout.html" %}

{% block content %}
    <title>Confirmation</title>

    <div class="status-container">
        <div class="status">
            <img src="{{ url_for('static', filename='img/success.svg') }}" class="status-image"/>
            <img src="{{ url_for('static', filename='img/thank-you.svg') }}" class="status-image-thank-you"/>
            <p class="status-message">Your order has been successfully placed.</p>
            <a class="button" href="/">Return Home</a>
        </div>
    </div>
{% endblock %}