{% extends "layout.html" %}
{% block content %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Adyen CSS from TEST environment (change to live for production)-->
	<link rel="stylesheet"
		  href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.16.0/adyen.css"
		  integrity="sha384-zy4t7axSdzHBMGqwJAynlv3eFVNiWw68LMf7vgKXxl2zZ6A8FlpucOoA/J//GBaQ"
		  crossorigin="anonymous">

	<div id="payment-page">
		<div class="container">
			<div class="checkout-component-container">

				<div id="component" class="payment">
					<!-- Component will be rendered here -->
				</div>

			</div>
		</div>
	</div>

	<!-- Adyen JS from TEST environment (change to live for production)-->
	<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.16.0/adyen.js"
     		integrity="sha384-eOf0O1MTPGB1DQpr+Yha0MrmJruQb5S82+tuyo4sLiyfo1hgbf6W+fNfLjjU7Sks"
     		crossorigin="anonymous"></script>

	<script id="client-key" type="application/json">{{ client_key|tojson }}</script>
	<script id="integration-type" type="application/json">{{ method|tojson }}</script>

	<script src="{{ url_for('static', filename='js/adyen-implementation.js') }}"></script>
{% endblock %}